.new-book-wrapper {
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}
.new-book-wrapper h2 {
  color: #888888;
  padding-bottom: 15px;
}

.newBookTitle, 
.newBookAuthor, 
.newBookCategory {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  height: 30px;
}

form {
  gap: 10px;
}

.newBookTitle,
.newBookAuthor {
  flex-grow: 2;
}

.newBookCategory,
.submitBtn {
  flex-grow: 1;
}
