.bookWrapper {
  padding: 10px 20px;
  width: 90%;
  background-color: #f7f7f7f7;
  margin: 0 auto;
  align-items: center;
}

.ulBooks > li {
  margin: 15px 0;
}

.bookInfoWrapper {
  flex-grow: 2;
  max-width: 45%;
}

.bookTitle,
.currentChapter {
  word-break: break-word;
}

.currentChapterWrapper,
.completionWrapper {
  flex-grow: 1;
}

.completionWrapper {
  align-items: center;
}

.completeImageDiv {
  padding: 0 10px;
}

.currentChapterWrapper > * {
  display: block;
  padding: 2px 0;
}

.currentChapterWrapper {
  max-width: 25%;
}

.optionsUl > li {
  padding-right: 5px;
}

.progress {
  background: url(../progressCircle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
