.bookWrapper {
  padding: 10px 20px;
  width: 90%;
  background-color: #f7f7f7f7;
  margin: 0 auto;
  align-items: center;
  background-color :#fff;
  border: 1px solid #e8e8e8;
}

.ulBooks > li {
  margin: 15px 0;
}

.book-info-wrapper {
  flex-grow: 2;
  max-width: 45%;
}

.book-info {
  padding-bottom: 15px;
}

.book-category {
  color: gray;
  font-size: 13px;
  letter-spacing:0.3px;
}

.book-title,
.currentChapter {
  word-break: break-word;
}

.book-author,
.options-ul, 
.options-ul > li > button {
  color: #4386bf;
  font-weight: 100;
  font-size: 12px;
  opacity: 0.8;
}

.currentChapterWrapper,
.completion-wrapper {
  flex-grow: 1;
}

.completion-wrapper {
  align-items: center;
}

.background-wrapper {
  padding: 0 10px;
}

.currentChapterWrapper > * {
  display: block;
  padding: 2px 0;
}

.currentChapterWrapper {
  max-width: 25%;
}

.options-ul > li {
  padding-right: 5px;
}

.completed {
  color: #121212;
  font-size: 30px;
}

.completed-p {
  color: gray;
  font-size: 12px;
  opacity: 0.6;
}

.progress {
  background: url(../progressCircle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
