/*
    Global styles only
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

#root {
  background-color: #fafafa;
  min-height: 100vh;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  color: inherit;
}

.flex {
  display: flex;
}

.book-category,
.completed,
.completed-p {
  font-family: 'Montserrat', sans-serif;
}

.book-title,
.book-author,
.options-ul > li,
.current-chapter,
.update-progress {
  font-family: 'Roboto Slab', serif;
}
